/* app/globals.css */

/* 1. Import Tailwind v4 */
@import "tailwindcss";

/* Your custom globals */
html,
body {
  font-family: var(--font-inter);
}

/* Animation */
.fade-in {
  animation: fadeIn 1.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
